<!DOCTYPE html>
<html>
  <head>
    <title>Cratebind</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <a href="/"><img src="https://d2f789zax8zo1d.cloudfront.net/assets/logo-be13c4cb52e1b7404a0a070126cb6348.png" alt=""></a>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "logout-btn") %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
